<!--From https://docs.stripe.com/-->
<!--
<!DOCTYPE html>
<html>
<head>
<title>Buy cool new product</title>
<link rel="stylesheet" href="style.css">
<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<section>
<div class="product">
<img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
<div class="description">
<h3>Stubborn Attachments</h3>
<h5>$20.00</h5>
</div>
</div>
-->
<!--<form action="/create-checkout-session" method="POST">-->
<!--
<form asp-action="CreateCheckout" method="POST">
<button type="submit" id="checkout-button">Checkout</button>
</form>
</section>
</body>
</html>
-->

@model IEnumerable<StripeWebApp.Models.Item>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="item">
                <form class="d-flex justify-content-center" style="position:relative" asp-action="CreateCheckout" method="post">
                    <input type ="hidden" name="Id" value="@item.Id"/>
                    <img class="itemImg" name="ImageUrl" src="@item.ImageUrl" style="width:70%;"/>
					<h6 class="itemTitle" name="Name" style="position:absolute; top: 30%;">@item.Name</h6>
                    <input type="hidden" name="PriceId" value="@item.PriceID"/>
                    <input class="itemBtn btn btn-dark" type="submit" value="Checkout" style="position: absolute; top: 70%;"/>
                </form>
            </div>
        </div>
    }
</div>